name: Ubuntu 20
on: 
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    strategy:
      matrix:
        java-version: [11]
      fail-fast: true
      
    runs-on: ubuntu-20.04
    
    steps:
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java-version }}
      # See https://docs.github.com/en/actions/guides/building-and-testing-java-with-maven#caching-dependencies
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-${{ matrix.java-version }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-${{ matrix.java-version }}-m2

      - name: Install required packages
        run: |
          sudo apt-get update
          sudo apt-get install -y curl protobuf-compiler xmlstarlet
      - name: Build Chain ${{ matrix.java-version }}
        id: build-chain
        uses: kiegroup/github-action-build-chain@v2.6.25
        with:
          definition-file: https://raw.githubusercontent.com/${GROUP}/pengyun-root/${BRANCH}/.ci/pull-request-config.yaml
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
